.slide-container {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100vh;
  background-color: #f5f5f5;
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 20px;
}

.slide-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-header h4 {
  margin: 0;
}

#close-slide-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.slide-content {
  margin-top: 20px;
}

#emergency-details p {
  margin: 10px 0;
}

.slide-container.active {
  right: 0;
}
.popuContent{
  background-color: red;
}

.leaflet-marker-icon.alert {
  animation: pulse 1.5s infinite;  /* Apply the pulse animation */
}
.notification-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 300px;
}

.notification {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.notification.show {
  opacity: 1;
}
/* Pulse animation for the circle */
/* Pulse animation for the circle */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}

/* Style for the pulse effect */
.pulse-circle {
  animation: pulse 1.5s infinite;
  transition: transform 0.5s ease;
  will-change: transform;
}


