<div class="loader-container">
  <div class="card">
    <div class="loader">
      <p>loading</p>
      <div class="words">
        <span class="word material-symbols-outlined">fire_truck</span>
        <span class="word material-symbols-outlined">ambulance</span>
        <span class="word material-symbols-outlined">local_police</span>
        <span class="word material-symbols-outlined">fire_truck</span>
        <span class="word material-symbols-outlined">ambulance</span>
        <span class="word material-symbols-outlined">local_police</span>
      </div>
    </div>
  </div>
</div>
