<app-navbar></app-navbar>
<div class="container">
<h2 style="text-align: center;">Press For Help</h2>
<br>
<br>
<h3>Our main Introduction</h3><br>
<p>Emergencies can happen anywhere, anytime. When seconds count, traditional emergency response systems may not always be enough. To bridge this gap and empower individuals in distress, we introduce <span style="color: red;">"PRESS FOR HELP".</span>    <br><br>
 "PRESS FOR HELP" is a user-friendly mobile app and website designed to revolutionize emergency response. By combining advanced technology like GPS and real-time alerts, it connects people in need with the right emergency services swiftly. This can significantly reduce response times and potentially save lives.</p>
  <div class="flex-feautures-image">
    <img src="../../../assets/app.png" alt="" width="200">
    <div class="dirrection">
         <img src="../../../assets/arrow_png.png.crdownload" alt="" width="250">
       
    </div>
    <img src="https://i.pinimg.com/564x/86/85/73/868573142f5d094cf21a67cdf3781870.jpg" alt="" width="300">
  </div>
 <br>
 <h3>Objectives</h3>
 <br>  
 <p>1. Develop a Real-Time Emergency Tracking System: Design and implement a robust mobile application and backend system capable of accurately tracking the real-time location of users in distress.
    <br> 2. Implement Emergency Button Functionality: Develop and integrate multiple emergency buttons (e.g., ambulance, police, coast guard) into the mobile application, enabling users to quickly request assistance.
    <br> 3. Prioritize User Experience: Create an intuitive and user-friendly interface that is easy to navigate, even under stressful circumstances.
    <br> 4. Ensure System Reliability and Scalability: Implement reliable backend infrastructure to handle a large number of concurrent users and emergency alerts.
    Integrate Advanced Technologies: Utilize advanced technologies such as GPS, real-time location tracking</p>
    <div class="team-container">
    <br><h3>Our Team</h3><br>
    <div class="team-flex">
          <div class="team-card">
            <div class="card-img">
               <img src="https://static.vecteezy.com/system/resources/previews/008/302/462/original/eps10-grey-user-icon-or-logo-in-simple-flat-trendy-modern-style-isolated-on-white-background-free-vector.jpg" alt="" width="100">
            </div>
              <h4>Ivan Santos</h4>
               <span>Programmer</span>

          </div>
          <div class="team-card">
            <div class="card-img">
               <img src="https://static.vecteezy.com/system/resources/previews/008/302/462/original/eps10-grey-user-icon-or-logo-in-simple-flat-trendy-modern-style-isolated-on-white-background-free-vector.jpg" alt="" width="100">
            </div>
              <h4>Thaddeus Binasag</h4>
               <span>Leader</span>

          </div>
          <div class="team-card">
            <div class="card-img">
               <img src="https://static.vecteezy.com/system/resources/previews/008/302/462/original/eps10-grey-user-icon-or-logo-in-simple-flat-trendy-modern-style-isolated-on-white-background-free-vector.jpg" alt="" width="100">
            </div>
              <h4>Carlos Salvador</h4>
               <span>Designer</span>

          </div>
          <div class="team-card">
            <div class="card-img">
               <img src="https://static.vecteezy.com/system/resources/previews/008/302/462/original/eps10-grey-user-icon-or-logo-in-simple-flat-trendy-modern-style-isolated-on-white-background-free-vector.jpg" alt="" width="100">
            </div>
              <h4>Betuel Alerta</h4>
               <span>Docs</span>

          </div>
          <div class="team-card">
            <div class="card-img">
               <img src="https://static.vecteezy.com/system/resources/previews/008/302/462/original/eps10-grey-user-icon-or-logo-in-simple-flat-trendy-modern-style-isolated-on-white-background-free-vector.jpg" alt="" width="100">
            </div>
              <h4>Anthony Rosete</h4>
               <span>Researchers</span>

          </div>
          <div class="team-card">
            <div class="card-img">
               <img src="https://static.vecteezy.com/system/resources/previews/008/302/462/original/eps10-grey-user-icon-or-logo-in-simple-flat-trendy-modern-style-isolated-on-white-background-free-vector.jpg" alt="" width="100">
            </div>
              <h4>Mae </h4>
               <span>Researchers</span>

          </div>
    </div>
    </div>
</div>

  <app-footer></app-footer>