<div class="content-body">
  <!-- Top Bar -->

  <div class="header-bar">
    <button class="back-button" (click)="goBack()">← Back</button>
    <h3>View Live Tracking</h3>
  </div>

  <div class="tracking-view-wrapper">
    <!-- LEFT PANEL -->
    <div class="info-panel progress-panel" *ngIf="request">
      <!-- Profile Section -->
      <!-- Profile Section -->
      <div class="profile-section">
        <!-- Responder -->
        <div style="justify-content: end" class="profile">
          <img src="assets/ambulance.png" alt="Ambulance" class="avatar" />
          <div>
            <div class="name">
              <span class="icon-with-text">
                {{ request.staffFullName || 'Responder N/A' }}
              </span>
            </div>
            <div class="role">Mdrrmo Staff</div>
          </div>
        </div>

        <!-- Resident -->
        <div class="profile">
          <img
            [src]="request.image || 'assets/user-profile.png'"
            alt="User"
            class="avatar"
          />
          <div>
            <div class="name">{{ request.name }}</div>
            <div class="role">Resident</div>
          </div>
        </div>
      </div>
      <br />
      <!-- Route Steps -->
      <div class="header">
        <h3>Emergency Route</h3>
      </div>

      <ul class="route-list">
        <li
          *ngFor="let step of routeSteps; let i = index"
          [class.completed]="i < progressIndex"
        >
          <div class="timeline-dot"></div>
          <div class="step-content">
            <div class="step-top">
              <span class="step-time">{{ step.time }}</span>
              <span
                class="step-status"
                [ngClass]="{
                'on-time': step.status === 'On time',
                'delayed': step.status === 'Delayed',
                'pending': step.status === 'Pending',
                'approaching': step.status === 'Approaching',
                'arrived': step.status === 'Arrived'
              }"
                >{{ step.status }}</span
              >
            </div>
            <div class="step-label">{{ step.label }}</div>
          </div>
        </li>
      </ul>
      <br />
      <br />
      <hr />
      <br />
      <div class="eta">
        <img src="assets/ambulance.png" alt="Ambulance" class="avatar" />
        Estimated Time: {{ estimatedTime }}
      </div>
    </div>

    <!-- RIGHT PANEL (Map) -->
    <div class="map-section">
      <div id="tracking-map"></div>
    </div>
  </div>
</div>
