.dashboard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
}

.charts-grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Map wide, right side charts narrow */
  gap: 20px;
  align-items: stretch;
}

.right-charts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #fff;

  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 15px;
}

.map-card {
  min-height: 400px;
  padding: 40px;

  #map {
    height: 70%;
    min-height: 280px;
    border-radius: 10px;
  }
}

.recommendations {
  background: #fff8f8;
  border-left: 6px solid #b71c1c;
}

.recommendations ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recommendations li {
  font-size: 15px;
  margin: 8px 0;
  display: flex;
  align-items: center;
}

.recommendations .icon {
  margin-right: 10px;
  font-size: 18px;
}
/* Custom static red marker */
.custom-red-marker .dot {
  width: 18px;
  height: 18px;
  background: red;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.8);
}
::ng-deep .custom-pulse-marker .pulse {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 rgba(255, 0, 0, 0.5);
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
  }
  70% {
    transform: scale(1.4);
    opacity: 0.6;
    box-shadow: 0 0 0 20px rgba(255, 0, 0, 0);
  }
  100% {
    transform: scale(0.9);
    opacity: 1;
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
