<div class="forgot-container">
  <div class="content-box">
    <h2 class="app-title">SwiftAid</h2>
    <p class="app-subtitle">
      Enter your email and we’ll send you a password reset link.
    </p>

    <div class="input-container">
      <input type="email" [(ngModel)]="email" />
      <label class="label">Email</label>
      <div class="underline"></div>
    </div>

    <button class="submit-btn" (click)="sendCode()">Send Reset Link</button>

    <p class="bottom-text">
      Already have an account?
      <span (click)="goLogin()">Sign In</span>
    </p>
  </div>
</div>

<!-- SUCCESS MODAL -->
<div class="modal" *ngIf="showSuccessModal">
  <div class="modal-content">
    <h3>Password Reset Email Sent</h3>
    <p>Please check your inbox to continue resetting your password.</p>
    <button class="ok-btn" (click)="closeSuccess()">OK</button>
  </div>
</div>

<!-- ERROR MODAL -->
<div class="modal" *ngIf="showErrorModal">
  <div class="modal-content error">
    <h3>Error</h3>
    <p>{{ errorMessage }}</p>
    <button class="ok-btn" (click)="closeError()">OK</button>
  </div>
</div>
