.forgot-container {
  width: 100%;
  min-height: 100vh;
  background-color: #dddddd3d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  .content-box {
    width: 320px;
    text-align: left;

    .app-title {
      font-size: 30px;
      color: red;
      font-weight: 700;
      margin-bottom: 5px;
    }

    .app-subtitle {
      color: #504c4cf6;
      font-size: 14px;
      margin-bottom: 30px;
    }

    .input-container {
      position: relative;
      margin: 30px 0 10px 0;

      input {
        font-size: 15px;
        width: 100%;
        border: none;
        border-bottom: 1px solid #ccc;
        padding: 8px 0;
        background-color: transparent;
        outline: none;
      }

      .label {
        position: absolute;
        top: 0;
        left: 0;
        color: #ccc;
        transition: 0.3s;
        pointer-events: none;
      }

      input:focus ~ .label,
      input:not(:placeholder-shown) ~ .label {
        top: -18px;
        font-size: 13px;
        color: #333;
      }

      .underline {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #333;
        transform: scaleX(0);
        transition: 0.3s ease;
      }

      input:focus ~ .underline {
        transform: scaleX(1);
      }
    }

    .submit-btn {
      width: 100%;
      height: 42px;
      margin-top: 20px;
      background-color: red;
      border: none;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background-color: rgb(244, 44, 44);
      }
    }

    .alert-box {
      width: 100%;
      padding: 10px;
      background-color: rgba(255, 227, 111, 0.25);
      border: 1px solid rgb(211, 179, 46);
      color: rgb(160, 120, 28);
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 25px;

      i {
        font-size: 18px;
      }
    }

    .bottom-text {
      margin-top: 20px;
      font-size: 14px;
      color: #504c4c;

      span {
        color: red;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .modal-content {
    width: 320px;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);

    &.error h3 {
      color: #d9534f;
    }

    h3 {
      margin-bottom: 10px;
      font-size: 22px;
      font-weight: bold;
    }

    p {
      margin-bottom: 20px;
      color: #555;
    }

    .ok-btn {
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      background: #007bff;
      color: white;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background: #0056b3;
      }
    }
  }
}
