.content_1 {
  width: 100%;
}
.content-body {
  padding: 10px 20px;
}
.live-tracking-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tracking-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tracking-card {
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  width: 350px;
  border: 1px solid #cccccc8e;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tracking-card:hover {
  cursor: pointer;
}

.card-header {
  margin-bottom: 15px;
  padding: 20px;
  h3 {
    margin: 0 0 5px;
    font-size: 18px;
  }

  p {
    margin: 0;
    font-size: 14px;
    color: #121212;
  }
}

.map-container {
  width: 100%;
  height: 200px;

  overflow: hidden;
  margin-bottom: 15px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #999;
  padding: 10px;

  .tools {
    font-style: italic;
  }

  .status {
    border: 1px solid #cccccc8e;
    padding: 8px;
    background-color: red;
    border-radius: 8px;
    color: #fff;
  }
}

::ng-deep .custom-pulse-marker .pulse {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  position: relative;
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 rgba(255, 0, 0, 0.5);
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.5);
  }
  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

.leaflet-routing-container .leaflet-routing-instruction {
  white-space: normal !important; /* allow wrapping */
  padding-left: 10px; /* indent instructions */
  margin-bottom: 4px; /* spacing between steps */
  text-align: left; /* consistent left alignment */
  font-size: 14px; /* adjust font size if needed */
}

.leaflet-routing-container .leaflet-routing-leg {
  padding: 5px 10px;
}

.leaflet-routing-container .leaflet-routing-header {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 6px;
}

.alert-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
