<!-- Navbar -->
<div class="navbar-mobile">
  <div class="logo">SwiftAid</div>

  <div class="user-info" (click)="showSide()">
    <span class="user-email">{{ currentUser?.email || "User Name" }}</span>
    <img
      *ngIf="currentUser?.profileImageUrl"
      [src]="currentUser?.profileImageUrl"
      alt="Profile Picture"
      class="user-img"
    />
    <i
      *ngIf="!currentUser?.profileImageUrl"
      class="bx bx-user-circle user-icon-large"
    ></i>
  </div>
</div>

<!-- Profile Sidebar (toggle) -->
<!-- Profile Sidebar (toggle) -->
<div
  *ngIf="showSideBar"
  class="user-details-hover"
  [ngClass]="{ 'exit-animate': isExiting }"
>
  <div class="exit" (click)="exit()">
    <i class="bx bx-left-arrow-alt"></i>
  </div>

  <div class="user-pic-name">
    <img
      *ngIf="currentUser?.profileImageUrl; else placeholder"
      [src]="currentUser?.profileImageUrl"
      alt="Profile Picture"
      class="user-icon-image"
    />

    <ng-template #placeholder>
      <i class="bx bx-user-circle user-icon-large"></i>
    </ng-template>

    <span class="user-name">{{ currentUser?.fullName || "User Name" }}</span>
  </div>

  <ul>
    <h3 class="email">{{ currentUser?.email || "User Email" }}</h3>

    <li (click)="logout()">Logout</li>
  </ul>
</div>
