<div class="navbar">
  <img
    src="./../../../assets/arrow-left-circle (1).png"
    width="40"
    height="40"
    alt=""
  />
  <img src="./../../../assets/logo22.png" width="50" height="50" alt="" />
</div>

<div class="login-container">
  <form [formGroup]="loginForm">
    @if(valid){
    <div class="validation">
      <strong>Wrong Credentials</strong>
      <p>Please input field</p>
    </div>
    }@else if(email_pass) {
    <div class="validation">
      <strong>Wrong Credentials</strong>
      <p>Invalid username or password.</p>
    </div>
    }@else if(success){
    <div class="validation success">
      <strong>Success</strong>
      <p>Successfully logged in.</p>
    </div>
    } @else {
    <div class="validation">
      <p>You must log in to continue.</p>
    </div>
    }

    <div class="login-description">
      <h3><span>SwiftAid</span></h3>
      <p>Please enter your credentials to proceed</p>
    </div>
    <div class="input-container">
      <input type="text" id="input" formControlName="email" />
      <label for="input" class="label">Email</label>
      <div class="underline"></div>
    </div>
    <div class="input-container">
      <input type="password" id="input" formControlName="password" />
      <label for="input" class="label">Password</label>
      <div class="underline"></div>
    </div>
    <button (click)="logins()" type="button">Login</button>

    <div class="divider">
      <hr />
      Don't have a an account?
      <hr />
    </div>
    <button class="google-login" (click)="regiter()" type="button">
      Register
    </button>
  </form>
</div>

@if(isLoading){
<div class="loading-screen">
  <app-loading-screen></app-loading-screen>
</div>
}
