<app-navbar></app-navbar>
<div class="container">
    <h1>Services</h1>
    <h2 style="text-align: center;">Press For Help</h2>
    <br>
    <br>
  
     <h3>Relatives</h3>
        <div class="team-container">
        <div class="team-flex">
              <div class="team-card">
                <div class="card-img">
                   <img src="https://seeklogo.com/images/P/philippine-national-police-logo-92E6010F5F-seeklogo.com.png" alt="">
                </div>
                  <h4>PNP</h4>
                
    
              </div>
              <div class="team-card">
                <div class="card-img">
                   <img src="https://tse3.mm.bing.net/th?id=OIP.CI5Kj-lC_XslvjsOrwYuLwHaHa&pid=Api&P=0&h=220" alt="">
                </div>
                  <h4>Ambulance</h4>
                
    
              </div>
              <div class="team-card">
                <div class="card-img">
                   <img src="https://tse4.mm.bing.net/th?id=OIP.XDfhBPt7AMFP8nvccCKnQAHaHa&pid=Api&P=0&h=220" alt="">
                </div>
                  <h4>Bureau of Fire Protection</h4>
                
              </div>
              <div class="team-card">
                <div class="card-img">
                   <img src="https://scontent.fmnl17-1.fna.fbcdn.net/v/t39.30808-6/384749240_699944508832434_8871004787889324356_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeExwlWkJ5foRmPY4vdc0bYUMuT_MDJPWOUy5P8wMk9Y5WVw_G04oXCo3x7fEM9_1gw5i9gLMri368vU_XgIjP2i&_nc_ohc=57X49XIWNxcQ7kNvgEDfA3o&_nc_oc=AdjAsUHIHPBM7Ft9ZIouJBmM_1N7QqEWt4-Y1a82-uKdXuq7_54VPUIFmDapFMDocv4&_nc_zt=23&_nc_ht=scontent.fmnl17-1.fna&_nc_gid=AAw9Gh8TORRq25dQ7MtJJFK&oh=00_AYClUGGMnMSrwFz4vvwVOrm6vk7nfI80aub7ZJnWWpuViQ&oe=6767A654" alt="" >
                </div>
                  <h4>MDRRMO</h4>
                 
              </div>
            
        </div>
        </div>
    </div>
<app-footer></app-footer>