.navbar-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10%;
    background-color: #ffffffac;
    backdrop-filter: blur(10px);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    

    ul {
        display: inline-flex;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            margin: 0px 10px;
            font-size: 13px;
            color: #2c2929;
            font-weight: 700;
            letter-spacing: 0.3px;
            cursor: pointer;
            &.active {
                color: #ff5722; /* Active link color */
                font-weight: bold;
            }
        }
    }

    .btn-container {
        button {
            width: 120px;
            padding: 10px 0px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: 1px solid #2c2929;
            background-color: #fff;
            font-size: 15px;
            border-radius: 5px;
            color: #2c2929;
            font-weight: 500;
            transition: 0.3s ease-in-out;
            cursor: pointer;

            span {
                font-size: 18px;
            }

            &:hover {
                filter: brightness(0.9);
            }
        }
    }
}

.loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: #ffffff9f;
    justify-content: center;
    backdrop-filter: blur(10px);
}
