<app-navbar></app-navbar>
<div class="container"  >
 <div class="hero-text">
  <div class="text-content">
    <h2>SwiftAid: <span>Your Lifeline in Crisis</span></h2>
    <p>In an Emergency, Every Second Counts. We're Here for You.</p>
  </div>
 </div>
 <div class="hero-img">
    <div class="image">
        <img src="https://i.pinimg.com/564x/86/85/73/868573142f5d094cf21a67cdf3781870.jpg" alt="" width="500">
    </div>
 </div>

</div>
<div class="relatives-container">
  <p>Hotline</p>
  <div class="relatives-grid">
    <div class="relatives-card">
      <span class="material-symbols-outlined" >
        fire_truck
        </span>
      <div class="description">
        <strong> Bureau of Fire Protection</strong>
        <label>09561648797</label>
        <P>Incase have fire</P>
      </div>
    </div>
    <div class="relatives-card">
      <span class="material-symbols-outlined">
        ambulance
        </span>
      <div class="description">
        <strong>Ambulance</strong>
        <label>09561648797</label>
        <P>Lorem, ipsum dolor sit amet consectetur.</P>
      </div>
    </div>
    <div class="relatives-card">
      <span class="material-symbols-outlined" style="background-color: rgb(137, 137, 203); color:blue;">
        local_police
        </span>
      <div class="description">
        <strong>Police</strong>
        <label>09561648797</label>
        <P>Lorem, ipsum dolor sit amet consectetur.</P>
      </div>
    </div>
  </div>
 </div>
 <div class="about-911-container">
  <h2>How It Works</h2>
 <div class="about-911-context">
  <label for="">What is SwiftAid?</label>
  <p>What is SwiftAid?
    Press for Help is a direct line to emergency services. This system ensures that help is dispatched as quickly as possible to assist you in a crisis.</p>
  
  <label for="">How Does SwiftAid?</label>
  <p> When you press for help, your request is routed to a trained dispatcher. The dispatcher will gather information from you, assess your situation, and send the appropriate assistance based on your location and the nature of the emergency.</p>
  <label for="">When Should You SwiftAid?</label>
  <p> for help for life-threatening emergencies, crimes in progress, fires, medical emergencies, and accidents. When in doubt, always press for help. The dispatcher is there to assist you</p>
 </div>
 </div>

 <div class="tips-container">
  <label for="">Stay Ready for Anything</label>
  <h2>Emergency Preparedness Tips</h2>
  <div class="tips-flex-content">
    <div class="img-content">
      <img src="https://1.bp.blogspot.com/-zXToz-3B2KA/Vzu0p35it5I/AAAAAAAAJ00/BnSYdmBjle0s759NzlXSS4qxYbATX7aVACLcB/s1600/emergency.png" width="300" alt="">
    </div>
    <div class="tips-list">
        <div class="list">
          <span class="material-symbols-outlined" style="color:orange">
            cognition
            </span>
             <label for="">Create an Emergency Plan</label>
             <p>Develop a plan that outlines how your family will respond to different types of emergencies.</p>
        </div>
        <div class="list">
          <span class="material-symbols-outlined" style="color:rgb(204, 22, 22)">
            construction
            </span>
             <label for="">Build an Emergency Kit</label>
             <p>Every home should have a well-stocked emergency kit with essential supplies for at least 72 hours. Here’s what to include:</p>
          </div>
          <div class="list">
            <span class="material-symbols-outlined" style="color:green">
              info
              </span>
               <label for="">Stay Informed</label>
               <p>Knowledge is your greatest tool in an emergency.</p>
            </div>
   
    </div>
  </div>
 </div>

 <div class="alert-container">
  <h1>Preparing now can make all <br> the difference when it matters most.</h1>
  <p>Taking steps to prepare today can save lives and reduce risks when an emergency happens. Being ready ensures you can act quickly and confidently when it matters most.</p>
  <button>Read more</button>
 </div>

 <app-footer></app-footer>


