<div class="content-body" id="dashboard-to-print">
  <div class="content_1">
    <div class="flex-header">
      <div>
        <h4>Mdrrmo Staff Dashboard</h4>
        <p>Main</p>
      </div>
      <div><p>Welcome back!</p></div>
    </div>
    <!-- start -->
    <div class="flex-box">
      <div class="box">
        <div class="flex">
          <h4>Total Account</h4>
          <i
            style="font-size: 30px; color: red"
            class="bx bxs-user-account"
          ></i>
        </div>
        <p>{{ userCount }}</p>
      </div>
      <div class="box">
        <div class="flex">
          <h4>Total Rescue</h4>
          <i style="font-size: 30px; color: red" class="bx bxs-ambulance"></i>
        </div>
        <p>{{ totalresolveRequest }}</p>
      </div>
      <div class="box">
        <div class="flex">
          <h4>Pending Request</h4>

          <i style="font-size: 30px; color: red" class="bx bx-time-five"></i>
        </div>

        <p>{{ totalPendingRequests }}</p>
      </div>
      <div class="box">
        <div class="flex">
          <h4>Total Request Rescue</h4>
          <i
            style="font-size: 30px; color: red"
            class="bx bx-git-pull-request"
          ></i>
        </div>

        <p>{{ totalRequestRescueCount }}</p>
      </div>
    </div>
    <!-- end -->

    <div class="chart-flex">
      <div class="chart">
        <h3>Monthly Activity</h3>
        <p>Emergency requests and resolutions in the last 6 months.</p>
        <br />
        <div class="pie-chart">
          <canvas id="requestEventBarChart"></canvas>
        </div>
      </div>
      <div class="chart">
        <h3>Event Category</h3>
        <p>Distribution of emergency request types over time.</p>
        <br />
        <div class="pie-chart">
          <canvas id="MyPieChart"> </canvas>

          <div class="pie-chart-legend">
            <div *ngFor="let item of pieChartLegend" class="legend-item">
              <span
                class="legend-color"
                [style.backgroundColor]="item.color"
              ></span>
              <span
                class="legend-label"
                [style.backgroundColor]="item.color"
                style="color: white; padding: 3px 8px; border-radius: 4px"
              >
                {{ item.label }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3>Yearly Event Accident</h3>
    <p>Chart</p>
    <div class="history-content">
      <canvas id="MyYearlyChart"></canvas>
    </div>
  </div>
  <!-- end of content 1 -->
  <div class="content_2">
    <div class="btn-flex">
      <!-- @if(isSuperAdmin) {
      <div class="btn" (click)="printDashboard()">
        <i class="bx bx-printer"></i>
        <h3>Print</h3>
      </div>
      } -->

      <div class="post-details-alert">
        <i class="bx bx-alert-shield"></i>
      </div>
      <div class="pie-content">
        <h3>Recent Requests</h3>
        <p>Recent</p>

        <div class="recent-list">
          <div class="list" *ngFor="let request of recentRequests">
            <div class="profile">
              <div
                style="
                  width: 50px;
                  height: 50px;
                  overflow: hidden;
                  border-radius: 50%;
                "
                class="img"
              >
                <img
                  style="width: 100%; height: 100%"
                  src="{{request.image}}"
                  alt=""
                />
              </div>
              <span>{{ request.name || "Unknown" }}</span>
            </div>

            <div class="description">
              <p class="status" [ngClass]="getStatusClass(request.status)">
                {{ getStatusLabel(request.status) }}
              </p>
              <h4>{{ request.event }}</h4>
              <p class="timestamp">
                {{ request.timestamp?.toDate() | date : "short" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="mobile-message">
  <div class="mobile-content-message">
    <img src="../../../assets/formobile.gif" alt="" />
    <h1>Mobile View Not Supported</h1>
    <p>
      This dashboard is not optimized for mobile devices. Please access it from
      a desktop or laptop for the best experience.
    </p>
  </div>
</div> -->
