<!-- @if(isloader){
    <div class="loaders">
       <app-loader></app-loader>
    </div>
 } -->
 
 <div class="container-admin">
    <div class="right-side-navbar">
      <div class="header">
        <h3 class="flex-logo"><img src="assets/logo.jpg" alt="" class="logo">SwiftAid</h3>
       </div>
      <div class="navlinks">
         <ul>
             <li (click)="navigateToDashboard()"><i class='bx bxs-dashboard' ></i> Dashboard</li>
             <li (click)="navigateToMap()" ><i class='bx bxs-map' ></i> Map</li>
             <li class="active" (click)="navigateToHistoryCall()"><i class='bx bx-history' ></i> History</li>
             <li (click)="navigateToUserList()"><i class='bx bxs-user-detail'></i>Resident</li>
             
         </ul>
      </div>
    </div>
   
   <div class="left-side-container">
   <app-admin-navbar></app-admin-navbar>
   
   <div class="left-side-container_content">
      <h3>History Request</h3>
      <p>recent request</p>

      <div class="resident-container">
         <div class="resident-header">
             <div class="btn-container">
                  
             </div>
             <div class="add-user-container">
                 <div class="search">
                     <i class='bx bx-search' ></i>
                     <input type="text" placeholder="search">
                 </div>
               
             </div>
         </div>
         <div class="table">
              <table>
                   <thead>
                      <tr>
                          <td><input type="checkbox" name="" id=""></td>
                          <td>Full name</td>
                          <td>Rescue Need</td>
                          <td>Email</td>
                          <td>Contact</td>  
                          <td>Address</td>
                          <td>Location</td>
                          <td>Time</td> 
                          <td>Action</td>
                      </tr>
                   </thead>
                    <tbody *ngFor="let requests of request">
                    
                      <tr>
                          <td><input type="checkbox" name="" id=""></td>
                          <td>{{requests.name}}</td>
                          <td>{{requests.needs}}</td>
                          <td>{{requests.email}}</td>
                          <td>{{requests.contactNumber}}</td>
                          <td>{{requests.address}}</td>
                          <td>{{requests.currentLocation}}</td>
                          <td>{{requests.timestamp?.toDate().toLocaleString()}}</td>
                          <td><i class='bx bxs-trash'></i></td>
                      </tr>
                   
                    </tbody>
              </table>
              <div class="pagination-controls">
               <button >Previous</button>
               <span>Page  of </span>
               <button>Next</button>
             </div>
         </div>
     </div>
 
   </div>
   </div>
   </div>