<div class="container-admin" style="background-color: #fff">
  <div class="right-side-navbar">
    <div class="header">
      <h3 class="flex-logo">
        <img src="assets/logo.jpg" alt="" class="logo" />SwiftAid
      </h3>
    </div>
    <div class="navlinks">
      <ul>
        <li
          [routerLink]="'Dashboard'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bx bxs-dashboard"></i> Dashboard
        </li>
        <li
          [routerLink]="['Team']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <i class="bx bx-group"></i> Team
        </li>
        <li
          [routerLink]="'EmergencyRequest'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bx bx-history"></i>Emergency Request
        </li>
        <li
          [routerLink]="'Account'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bx bxs-user-detail"></i>Account
        </li>
        <li
          [routerLink]="'Feedback'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bx bx-like"></i> Feedback
        </li>
        <li
          [routerLink]="'Info'"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="bx bx-info-circle"></i>Info
        </li>
      </ul>
    </div>
  </div>

  <div class="left-side-container">
    <div class="content-container">
      <div class="separator">
        <app-admin-navbar></app-admin-navbar>
      </div>
      <div class="body-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
