<div class="content-body" id="dashboard-to-print">
  <div class="content_1">
    <h4>Admin Dashboard</h4>
    <p>Main</p>
    <!-- start -->
    <div class="flex-box">
      <div class="box">
        <div class="flex">
          <h4>Total Registered Account</h4>
          <i
            class="bx bxs-user-account"
            style="font-size: 40px; color: red"
          ></i>
        </div>
        <p>{{ userCount }}</p>
        <small>Total of All Accounts</small>
      </div>

      <div class="box">
        <div class="flex">
          <h4>Total Team</h4>
          <i class="bx bxs-group" style="font-size: 40px; color: red"></i>
        </div>
        <p>{{ totalTeam }}</p>
        <small>Registered Staff</small>
      </div>

      <div class="box">
        <div class="flex">
          <h4>Total Resident</h4>
          <i class="bx bx-male-female" style="font-size: 40px; color: red"></i>
        </div>
        <p>{{ totalresident }}</p>
        <small>Verified Residents</small>
      </div>

      <div class="box">
        <div class="flex">
          <h4>Pending Resident</h4>
          <i class="bx bx-time" style="font-size: 40px; color: red"></i>
        </div>
        <p>{{ totalPendingResident }}</p>
        <small>Residents Awaiting Approval</small>
      </div>

      <div class="box">
        <div class="flex">
          <h4>Total Emergency Request</h4>
          <i
            class="bx bx-git-pull-request"
            style="font-size: 40px; color: red"
          ></i>
        </div>
        <p>{{ EmergencyRequest }}</p>
        <small>All Resident Requests</small>
      </div>

      <div class="box">
        <div class="flex">
          <h4>Total Rescue</h4>
          <i class="bx bxs-ambulance" style="font-size: 40px; color: red"></i>
        </div>
        <p>{{ totalresolveRequest }}</p>
        <small>Emergency Requests Resolved</small>
      </div>

      <div class="box">
        <div class="flex">
          <h4>Total Pending Request</h4>
          <i class="bx bx-timer" style="font-size: 40px; color: red"></i>
        </div>
        <p>{{ totalPendingRequests }}</p>
        <small>Emergency Requests Awaiting Approval</small>
      </div>
    </div>
    <!-- end -->

    <div class="chart-flex">
      <div class="chart">
        <h3>Monthly Request</h3>
        <p>Chart</p>
        <div class="pie-chart">
          <canvas id="requestStatusBarChart"></canvas>
        </div>
      </div>
      <div class="chart">
        <h3>Event Category</h3>
        <p>Chart</p>
        <div class="pie-chart">
          <canvas id="MyPieChart"> </canvas>

          <div class="pie-chart-legend">
            <div *ngFor="let item of pieChartLegend" class="legend-item">
              <span
                class="legend-color"
                [style.backgroundColor]="item.color"
              ></span>
              <span
                class="legend-label"
                [style.backgroundColor]="item.color"
                style="color: white; padding: 3px 8px; border-radius: 4px"
              >
                {{ item.label }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3>Yearly Event Accident</h3>
    <p>Chart</p>
    <div class="history-content">
      <canvas id="MyYearlyChart"></canvas>
    </div>
  </div>
  <!-- end of content 1 -->
  <div class="content_2">
    <div class="btn-flex">
      <div class="date-time">
        <p>
          <i class="bx bxs-calendar-alt"></i>
          {{ currentDateTime | date : "full" }}
        </p>
      </div>
      @if(isSuperAdmin) {
      <div class="btn" (click)="printDashboard()">
        <i class="bx bx-printer"></i>
        <h3>Print</h3>
      </div>
      }

      <div class="post-details-alert">
        <i class="bx bx-alert-shield"></i>
      </div>
      <div class="pie-content">
        <h3>Recent Requests</h3>
        <p>Recent</p>

        <div class="recent-list">
          <div class="list" *ngFor="let request of recentRequests">
            <div class="profile">
              <div class="img">
                <i class="bx bxs-user-circle"></i>
              </div>
              <span>{{ request.name || "Unknown" }}</span>
            </div>

            <div class="description">
              <p class="status" [ngClass]="getStatusClass(request.status)">
                {{ getStatusLabel(request.status) }}
              </p>
              <h4>{{ request.event }}</h4>
              <p class="timestamp">
                {{ request.timestamp?.toDate() | date : "short" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="mobile-message">
  <div class="mobile-content-message">
    <img src="../../../assets/formobile.gif" alt="" />
    <h1>Mobile View Not Supported</h1>
    <p>
      This dashboard is not optimized for mobile devices. Please access it from
      a desktop or laptop for the best experience.
    </p>
  </div>
</div> -->
