.Chart-data {
  width: 50%;
  height: 60vh;
  color: red;
  margin-bottom: 10%;
}

.date-time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
  p {
    font-size: 13px;
    font-weight: 400;
  }
  i {
    font-size: 15px;
  }
}
h3 {
  font-weight: 600;
  font-size: 15px;
}
p {
  font-size: 13px;
}
.content-body {
  margin-top: 5%;
  width: 100%;
  display: flex;
  z-index: -1;

  .content_1 {
    padding: 10px;
    width: 77%;
    height: 100%;
    .flex-header {
      display: flex;
      justify-content: space-between;
      width: 100%;

      h4 {
        font-size: 18px;

        font-weight: 600;
      }
      p {
        font-size: 14px;
      }
    }

    .flex-box {
      width: 100%;
      display: grid; /* Change from flex to grid */
      grid-template-columns: repeat(
        auto-fill,
        minmax(300px, 1fr)
      ); /* Automatically adjusts based on screen size */
      gap: 20px; /* Adds spacing between the grid items */
      padding: 10px 0%;
    }

    .box {
      display: flex;
      flex-direction: column;
      width: 100%; /* Ensures box takes full width of its grid cell */
      height: 150px;
      background-color: white;
      border-radius: 8px;
      border: 1px solid #cccccc8e;

      /* Flex properties inside the box */
      .flex {
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding: 8px 10px;
        width: 100%;
      }

      /* Title styling */
      h4 {
        font-size: 12px;
        margin-left: 15px;
        font-weight: 600;
      }

      /* Value styling */
      p {
        font-size: 30px;
        margin-left: 25px;
        font-weight: 700;
        color: #333;
      }

      small {
        font-size: 11px;
        margin-left: 25px;
        margin-top: 8px;
        font-weight: 500;
        color: #2e2d2d;
      }
    }
    .box:hover {
      cursor: pointer;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .chart-flex {
      width: 100%;
      height: 100%;
      display: flex;

      .chart {
        width: 50%;
        margin: 5px;
        h3 {
          font-weight: 600;
          font-size: 15px;
        }
        p {
          font-size: 13px;
          margin-bottom: 10px;
        }
        margin-bottom: 10px;
        .pie-chart {
          border-radius: 5px;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 50vh;
          border-radius: 8px;
          border: 1px solid #cccccc8e;
        }
      }
    }
    .history-content {
      width: 100%;
      height: 70vh;
      border-radius: 8px;
      border: 1px solid #cccccc8e;
      margin-top: 15px;
      border-radius: 5px;
    }
  }
  .content_2 {
    width: 23%;
    border-radius: 8px;
    border: 1px solid #cccccc8e;
    h4 {
      font-size: 30px;
    }
    .btn-flex {
      width: 100%;
      padding: 8px 10px;

      .btn {
        width: 100%;
        display: flex;
        margin-top: 15px;
        align-items: center;
        padding: 12px 15px;
        background-color: gray;
        border-radius: 5px;
        i {
          color: white;
        }
        h3 {
          font-size: 13px;
          margin: 0px 30px;
          color: white;
        }
      }
      .btn:hover {
        cursor: pointer;
        filter: brightness(0.9);
      }
      .post-details-alert {
        width: 100%;
        height: 100px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        border-color: #d46f588e;
        background-image: url("https://i.pinimg.com/736x/d3/22/0a/d3220afc8f42b4a59dffafbe3a8a8cfc.jpg");
        background-position: center;
        background-size: cover;
        background-color: #f0f0f0;
        i {
          font-size: 30px;
          color: red;
        }
        p {
          font-size: 13px;
          text-decoration: none;
          user-select: none;
        }
      }
      .post-details-alert:hover {
        cursor: pointer;
      }

      .pie-content {
        margin-top: 20px;
        h3 {
          font-size: 15px;
        }
        p {
          font-size: 13px;
        }
      }
    }

    .recent-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden;

      .list::before {
        content: "";
        width: 5px;
        height: 100%;
        background-color: gray;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 5px;
      }
      .list {
        padding: 0px 15px;
        position: relative;
        margin-top: 5px;
        width: 100%;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #cccccc8e;
        .profile {
          display: flex;
          flex-direction: column;

          i {
            font-size: 40px;
          }
          span {
            font-size: 11px;
          }

          .img {
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 50%;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        h4 {
          font-size: 13px;
          margin-bottom: 20px;
        }
        p {
          font-size: 11px;
          margin-top: 8px;
        }
      }
      .list:hover {
        cursor: pointer;
        box-shadow: rgba(153, 151, 151, 0.2) 0px 2px 8px 0px;
      }
    }
  }
}

.body-container {
  width: 100%;
  height: 100%;
  display: flex;
}
