<div class="content-body" id="dashboard-to-print">
  <div class="content_1">
    <h4>Dashboard</h4>
    <p>Main</p>
    <!-- start -->
    <div class="flex-box">
      <div class="box">
        <div class="flex">
          <h4>Total Registered Account</h4>
          <i
            style="font-size: 50px; color: red"
            class="bx bxs-user-account"
          ></i>
        </div>
        <p>{{ userCount }}</p>
      </div>
      <div class="box">
        <div class="flex">
          <h4>Total Rescue</h4>
          <i style="font-size: 50px; color: red" class="bx bxs-ambulance"></i>
        </div>
        <p>{{ EmergencyRequest }}</p>
      </div>
      <div class="box">
        <div class="flex">
          <h4>Total Request Rescue</h4>
          <i
            style="font-size: 50px; color: red"
            class="bx bx-git-pull-request"
          ></i>
        </div>

        <p>{{ EmergencyRequest }}</p>
      </div>
    </div>
    <!-- end -->

    <div class="chart-flex">
      <div class="chart">
        <h3>Monthly Request</h3>
        <p>Chart</p>
        <div class="pie-chart">
          <canvas id="MyLineChart"> </canvas>
        </div>
      </div>
      <div class="chart">
        <h3>Event Category</h3>
        <p>Chart</p>
        <div class="pie-chart">
          <canvas id="MyPieChart"> </canvas>
        </div>
      </div>
    </div>
    <h3>Yearly Event Accident</h3>
    <p>Chart</p>
    <div class="history-content">
      <canvas id="MyYearlyChart"></canvas>
    </div>
  </div>
  <!-- end of content 1 -->
  <div class="content_2">
    <div class="btn-flex">
      @if(!isAdmin) {
      <div class="btn" (click)="printDashboard()">
        <i class="bx bx-printer"></i>
        <h3>Print</h3>
      </div>
      }
      <div class="post-details-alert">
        <i class="bx bx-alert-shield"></i>
      </div>
      <div class="pie-content">
        <h3>Recent Request</h3>
        <p>Recent</p>
        <div class="recent-list">
          <div class="list">
            <div class="profile">
              <div class="img">
                <i class="bx bxs-user-circle"></i>
              </div>
              <span>Carlos Salvador</span>
            </div>

            <div class="description">
              <h4>Event</h4>
              <p>Flood</p>
            </div>
          </div>

          <div class="list">
            <div class="profile">
              <div class="img">
                <i class="bx bxs-user-circle"></i>
              </div>
              <span>Ivan Santos</span>
            </div>

            <div class="description">
              <h4>Event</h4>
              <p>Assult</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-message">
  <div class="mobile-content-message">
    <img src="../../../assets/formobile.gif" alt="" />
    <h1>Mobile View Not Supported</h1>
    <p>
      This dashboard is not optimized for mobile devices. Please access it from
      a desktop or laptop for the best experience.
    </p>
  </div>
</div>
