<div class="login-container">
    <form [formGroup]="registerForm">
        @if(errorMessage){
            <div class="validation">
                <strong>Note</strong>
                <p>{{errorMessage}}</p>
            </div>
        }

        <div class="input-container">
            <input type="text" id="charge" formControlName="charge">
            <label for="charge" class="label">Head in Charge</label>
            <div class="underline"></div>
        </div>
        <div class="input-container">
            <input type="text" id="office_id" formControlName="office_id">
            <label for="office_id" class="label">Office ID number</label>
            <div class="underline"></div>
        </div>
        <div class="input-container">
            <input type="text" id="contactNumber" formControlName="contactNumber">
            <label for="contactNumber" class="label">Contact number</label>
            <div class="underline"></div>
        </div>
        <div class="input-container">
            <input type="text" id="email-input" formControlName="email">
            <label for="email-input" class="label">Email</label>
         
                <div class="underline"></div>
          
        </div>

        <div class="input-container">
            <input type="password" id="password-input" formControlName="password">
            <label for="password-input" class="label">Password</label>
            <div class="underline"></div>
        </div>

    
        <button (click)="register()" type="button">Register</button>


       
    </form>
</div>
