<div class="content-body">
  <div class="content_1">
    <h4>Information Management</h4>
    <p>User Feedback Overview</p>

    <!-- Overall Ratings -->
    <div class="overall-ratings">
      <div class="rating-box">
        <h5>Officer Performance</h5>
        <div class="stars">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
            <i
              class="bx"
              [class.bxs-star]="i < officerRating"
              [class.bx-star]="i >= officerRating"
            ></i>
          </ng-container>
          <span>{{ officerRating }}/5</span>
        </div>
      </div>

      <div class="rating-box">
        <h5>Service Quality</h5>
        <div class="stars">
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
            <i
              class="bx"
              [class.bxs-star]="i < serviceRating"
              [class.bx-star]="i >= serviceRating"
            ></i>
          </ng-container>
          <span>{{ serviceRating }}/5</span>
        </div>
      </div>
    </div>

    <!-- My Feedback Section -->
    <div class="my-feedback" *ngIf="feedbackList.length">
      <h4>My Feedback</h4>
      <table class="feedback-table">
        <thead>
          <tr>
            <th>Complaint</th>
            <th>Resident</th>
            <th>Officer Rating</th>
            <th>Service Rating</th>
            <th>Date</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let feedback of feedbackList">
            <td>{{ feedback.id }}</td>
            <td>{{ feedback.name }}</td>
            <td>
              <div class="stars">
                <ng-container
                  *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                >
                  <i
                    class="bx"
                    [class.bxs-star]="i < feedback.rating"
                    [class.bx-star]="i >= feedback.rating"
                  ></i>
                </ng-container>
              </div>
            </td>
            <td>
              <div class="stars">
                <ng-container
                  *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                >
                  <i
                    class="bx"
                    [class.bxs-star]="i < feedback.rating"
                    [class.bx-star]="i >= feedback.rating"
                  ></i>
                </ng-container>
              </div>
            </td>
            <td>{{ feedback.timestamp | date : "MMM d, y" }}</td>
            <td>{{ feedback.comment }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
