/* You can add global styles to this file, and also import other style files */
.logo{
    width: 50px;
    height: 50px;
}
.flex-logo{
    display: flex;
    align-items: center;
    color: red;
    font-size: 18px;
    font-weight: 900;
}
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
.container-admin{
    display: flex;
    width: 100%;
    background-color: #f2f4f7;
    .right-side-navbar{
    
    width:30% ;
    max-width: 150px;
    height: 100vh;
    background-color: #fff;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    .header{
        margin-bottom: 20px;
        padding: 0px 10px;
        
        i{
            color: red;
        }
    }
    .navlinks{
        margin-top: 40px;
        width: 100%;
        ul{
            list-style: none;
            padding-right: 10px;
            li{
                margin: 10px 0px;
                padding: 8px 30px;
                width: 100%;
                border-end-end-radius: 20px;
                font-size: 10px;
                font-weight: 600;
                color: #282727;
                i{
                   margin-right: 10px;
                }
            }
            li.active,
            li:hover{
                background-color: #fff;
                color: red;
                cursor: pointer;
            }
        }
    }
    }
    .left-side-container{
     width: 100%;
      overflow: hidden;
    
 
     
     .navbar{
        width: 100%;
        height: 50px;
        background-color: #fff;
        display: flex;
        justify-content: right;
        align-items: center;
        padding: 0px 20px;
        position: sticky;
        top: 0;
        overflow: hidden;
        z-index: 1;
        .search-bar-container{
            width: 100%;
            height: 45px;
            display: flex;
            align-items: center;

            max-width: 700px;
            background-color: #fff;
            margin: 0px 20px;
            border-radius: 28px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            .search-bar{
                width: 100%;
                display: flex;
                align-items: center;
                i{
                    font-size : 24px;
                    text-align: center;
                    margin: 0px 8px;
                }
                input{
                    width: 650px;
                    height: 40px;
                    outline: none;
                    border: none;
                    padding: 0px 8px;
                    background-color: transparent;
                }
        }
    }
    .users{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: black;
    }
    }

}
}


.left-side-container_content{
    width: 99%;
    background-color: #fff;
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 3px;
    position: relative;
    left: 5px;
    h3{
        font-size: 25px;
        color: red;
    }
    P{
        margin-bottom: 10px;
        font-size: 13px;
    }
    .map{
        width: 100%;
    }
}


.main-container{
    width: 100%;
    height: 100vh;
    padding: 10px;
   
 }
 /* Fade-in animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-in-out;
  }
  
  .in-view.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Slide-in animation */
  .slide-in {
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.6s ease-in-out;
  }
  
  .in-view.slide-in {
    opacity: 1;
    transform: translateX(0);
  }
  