<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="hero-text">
         <div class="text-content">
           <h2>911 Emergency Services: <span>Your Lifeline in Crisis</span></h2>
           <p>In an Emergency, Every Second Counts. We're Here for You.</p>
         </div>
        </div>
        <div class="hero-img">
           <div class="image">
               <img src="https://i.pinimg.com/564x/86/85/73/868573142f5d094cf21a67cdf3781870.jpg" alt="" width="500">
           </div>
        </div>
       
       </div>
       <div class="relatives-container">
         <p>Hotline</p>
         <div class="relatives-grid">
           <div class="relatives-card">
             <span class="material-symbols-outlined" >
               fire_truck
               </span>
             <div class="description">
               <strong> Bureau of Fire Protection</strong>
               <label>09561648797</label>
               <P>Incase have fire</P>
             </div>
           </div>
           <div class="relatives-card">
             <span class="material-symbols-outlined">
               ambulance
               </span>
             <div class="description">
               <strong>Ambulance</strong>
               <label>09561648797</label>
               <P>Lorem, ipsum dolor sit amet consectetur.</P>
             </div>
           </div>
           <div class="relatives-card">
             <span class="material-symbols-outlined" style="background-color: rgb(137, 137, 203); color:blue;">
               local_police
               </span>
             <div class="description">
               <strong>Police</strong>
               <label>09561648797</label>
               <P>Lorem, ipsum dolor sit amet consectetur.</P>
             </div>
           </div>
         </div>
        </div>
        <div class="about-911-container">
         <h2>How It Works</h2>
        <div class="about-911-context">
         <label for="">What is 911?</label>
         <p>911 is your direct connection to police, fire, and medical emergency services. This system ensures that emergency responders are dispatched as quickly as possible to provide assistance.</p>
         <label for="">How Does 911 Work?</label>
         <p>When you call 911, your call is routed to the nearest Public Safety Answering Point (PSAP). Trained dispatchers gather key information from you, assess the situation, and send the necessary help based on your location and type of emergency.</p>
         <label for="">When Should You Call 911?</label>
         <p>Call 911 for life-threatening emergencies, crimes in progress, fires, medical emergencies, and accidents. If you are unsure whether your situation qualifies, err on the side of caution and call—dispatchers will guide you.</p>
        </div>
        </div>
       
        <div class="tips-container">
         <label for="">Stay Ready for Anything</label>
         <h2>Emergency Preparedness Tips</h2>
         <div class="tips-flex-content">
           <div class="img-content">
             <img src="./../../../assets/kit.png" alt="">
           </div>
           <div class="tips-list">
               <div class="list">
                 <span class="material-symbols-outlined" style="color:orange">
                   cognition
                   </span>
                    <label for="">Create an Emergency Plan</label>
                    <p>Develop a plan that outlines how your family will respond to different types of emergencies.</p>
               </div>
               <div class="list">
                 <span class="material-symbols-outlined" style="color:rgb(204, 22, 22)">
                   construction
                   </span>
                    <label for="">Build an Emergency Kit</label>
                    <p>Every home should have a well-stocked emergency kit with essential supplies for at least 72 hours. Here’s what to include:</p>
                 </div>
                 <div class="list">
                   <span class="material-symbols-outlined" style="color:green">
                     info
                     </span>
                      <label for="">Stay Informed</label>
                      <p>Knowledge is your greatest tool in an emergency.</p>
                   </div>
          
           </div>
         </div>
        </div>
       
        <div class="alert-container">
         <h1>Preparing now can make all <br> the difference when it matters most.</h1>
         <p>Taking steps to prepare today can save lives and reduce risks when an emergency happens. Being ready ensures you can act quickly and confidently when it matters most.</p>
         <button>Read more</button>
        </div>
</body>
</html>