<div class="content-body">
  <div class="content_1">
    <h4>Emergency Request</h4>
    <p>List of Request</p>
    <div class="flex-filter">
      <div class="flex-filter-request">
        <span
          class="filter-box"
          [class.active]="activeFilter === 'All'"
          (click)="applyFilter('All')"
          >All</span
        >
        <span
          class="filter-box"
          [class.active]="activeFilter === 'Pending'"
          (click)="applyFilter('Pending')"
          >Pending</span
        >
        <span
          class="filter-box"
          [class.active]="activeFilter === 'Responding'"
          (click)="applyFilter('Responding')"
          >In Progress</span
        >
        <span
          class="filter-box"
          [class.active]="activeFilter === 'Resolved'"
          (click)="applyFilter('Resolved')"
          >Resolved</span
        >
      </div>
      <div class="map-title">
        <h3>Map View</h3>
        <p>Click on a request to center the map</p>
      </div>
    </div>
    <div class="flex-request">
      <div *ngIf="loadingRequests" class="spinner-container">
        <div class="spinner"></div>
        <p>Loading requests...</p>
      </div>

      <div class="list-request">
        <div
          *ngFor="let req of filteredRequests"
          class="request-item"
          (click)="centerMapOnRequest(req)"
        >
          <div class="request-details">
            <p><i class="bx bx-street-view"></i> {{ req.address }}</p>
            <div class="img">
              <img [src]="req.image" alt="Incident Image" />
            </div>

            <div class="details">
              <h5>{{ req.name }}</h5>
              <p>Emergency Type: <strong>{{ req.event }}</strong></p>
              @if (req.status === 'Pending') {
              <p>
                <span class="pending">{{ req.status }}</span>
              </p>
              } @if (req.status === 'Responding') {
              <p>
                <span class="In-progress">{{ req.status }}</span>
              </p>
              } @if (req.status === 'Resolved') {
              <p>
                <span class="Resolved">{{ req.status }}</span>
              </p>
              }

              <span
                >Assisted by:
                <strong
                  >{{ req.staffFirstName }} {{ req.staffLastName }}</strong
                ></span
              >

              <div class="request-actions">
                <button class="view" (click)="ViewRequest(req)">
                  View Details
                </button>
                <button
                  class="view"
                  (click)="$event.stopPropagation(); acceptRequest(req)"
                  [disabled]="req.status !== 'Pending'"
                >
                  {{ req.status === 'Pending' ? 'Accept' : 'Accepted' }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="!loadingRequests && filteredRequests.length === 0"
          class="no-request"
        >
          <div class="empty-box">
            <img src="./../../../assets/notfound.gif" alt="No data" />
            <p>No <strong>{{ activeFilter }}</strong> requests found.</p>
          </div>
        </div>
      </div>

      <div class="map-request">
        <div class="map-header">
          <!-- MAP CONTAINER -->
          <div
            class="map"
            #mapContainer
            style="width: 100%; height: 85vh"
          ></div>

          <!-- FLOATING INFO BOX -->
          <div
            #floatingInfoBox
            class="floating-info-box"
            style="
              display: none;
              position: absolute;
              top: 15px;
              right: 15px;
              z-index: 999;
              background: white;
              padding: 10px 15px;
              border-radius: 6px;
              box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
              font-size: 14px;
            "
          >
            <strong>Distance:</strong> <span id="distanceText">--</span><br />
            <strong>Duration:</strong> <span id="durationText">--</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
